*{margin:0;padding: 0;}
.header{}
.wrapper{width: 90%;
    min-height: 100px;
    background-color: red;
margin: 0 auto;}
.logo{}
.logo h3{}
.neb{width: 50%;
    min-height: 100px;
    float: right;background-color: black;clear: both;}
.neb ul{list-style: none;}
.neb ul li{float: left;}
.neb ul li a{display: block;
            margin: 38px 23px;
            text-decoration: none;
            color: white;
            font-size: 23px;
            text-transform: uppercase;}




.neb ul li a:hover{background-color: aqua;}